/* * {
  border: 1px solid gold;
} */

/* ==========================
| | Mobile View
========================== */

  /* ====== general ====== */

  .wrapper {
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .displayInline li {
    display: inline;
    margin: 0px 10px;
  }

  /* ====== header ======= */

  header {
    text-align: center;
  }

  /* ======== nav ======== */

  nav {
    text-align: right;
    background-color: lightblue;
  }

  /* ======== main ======= */

  .showAllItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ======= forms ======= */

  fieldset {
    text-align: center;
    border-radius: 5px;
    margin: 15px 0px;
  }

  input {
    width: 30%;
    height: 20px;
  }

  /* ======= cards ======= */

  .itemCard {
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 375px;
  }

  .itemCardImage {
    width: 150px;
    display: flex;
    align-items: center;
  }

  .itemCardImage img {
    width: 90%;
    margin: 2.5px;
  }

  .itemCardImageInfo {
    display: flex;
  }

  .itemCardInfo {
    align-self: center;
  }

  /* ======= cart ======= */

  .cart {
    width: 80%;
    margin: 0 auto;
  }

  .cartCardContainer {
    display: flex;
    justify-content: center;
  }

  .cartCardImage {
    width: 50px;
    align-self: center;
  }

  .cartCardImage img{
    width: 90%;
    margin: 2.5px;
  }

  .cartCardInfo {
    width: 200px;
  }

  .cartCardInfo li {
    display: inline;
  }

/* ==========================
| | Browser View
========================== */

@media only screen and (min-width: 750px) {

  /* ====== general ====== */

  .wrapper {
    max-width: 800px;
  }

}
