<!-- List all items for sale -->
<!-- Repeated item cards start here -->
<div class="showAllItems">
  <div class="itemCard" ng-repeat="item in ctrl.items">
    <div class="itemCardContainer">
      <div class="itemCardImageInfo">
        <div class="itemCardImage">
          <img ng-src={{item.image}}>
        </div>
        <div class="itemCardInfo">
          <ul>
            <li>{{ item.name }}</li>
            <li>{{ item.description }}</li>
            <li>${{ item.cost }}</li>
            <li>In Stock: {{ item.stockQuantity }}</li>
          </ul>
          <ul class="displayInline">
            <li ng-if="ctrl.userIsAdmin"
                ng-click="ctrl.indexOfEditForm = item._id"
                ng-dblclick="ctrl.indexOfEditForm = null">
                <a href="#">Edit</a>
            </li>
            <li ng-if="ctrl.userIsAdmin"
                ng-click="ctrl.deleteItem(item)">
                <a href="#">Delete</a>
            </li>
            <li ng-if="ctrl.loggedInUser"
                ng-click="addToCart(item)">
                <a href="#">Add to Cart</a>
            </li>
          </ul>
        </div>
      </div>
      <div  class="itemCardEditForm"
            ng-if="ctrl.indexOfEditForm === item._id">
        <form ng-submit="ctrl.editItem(item)">
          <input  type="text"
                  ng-value="item.name"
                  ng-model="ctrl.updatedName"/>
          <input  type="text"
                  ng-value="item.description"
                  ng-model="ctrl.updatedDescription"/>
          <input  type="number"
                  ng-value="item.cost"
                  ng-model="ctrl.updatedCost"/>
          <input  type="text"
                  ng-value="item.image"
                  ng-model="ctrl.updatedImage"/>
          <input  type="number"
                  ng-value="ctrl.stockQuantity"
                  ng-model="ctrl.updatedStock"/><br>
          <input type="submit" value="edit item" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Repeated item cards end here -->
